<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

    <<h1>Hello all</h1>>
    <form id="form_1">

        <input type="text" name="body_text" placeholder="text">
        <button type="submit" name="submit">submit</button>

    </form>

    <script>

        document.getElementById('form_1').addEventListener('submit',async (ff)=>{
            ff.preventDefault()
            
            const value = document.getElementsByName('body_text')[0].value
            
            const request = await fetch('/mainPOST',{
                method: 'POST',
                headers:{
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    value
                })
            })
        })
    </script>
    
</body>
</html>